
*.log
DogGame Demo - Environmental/Temp/UnityLockfile
DogGame Demo - Environmental/Logs/shadercompiler-UnityShaderCompiler.exe0.log
DogGame Demo - Environmental/Library/SourceAssetDB
DogGame Demo - Environmental/Logs/shadercompiler-UnityShaderCompiler.exe0.log
DogGame Demo - Environmental/Library/ArtifactDB
