
*.log
DogGame Demo - Environmental/Temp/UnityLockfile
DogGame Demo - Environmental/Logs/shadercompiler-UnityShaderCompiler.exe0.log
DogGame Demo - Environmental/Library/SourceAssetDB
DogGame Demo - Environmental/Logs/shadercompiler-UnityShaderCompiler.exe0.log
DogGame Demo - Environmental/Library/ArtifactDB
DogGame Demo - Environmental/Library/Artifacts/29/296dd4bcb001929a2b1fedb65b076add
DogGame Demo - Environmental/Library/Artifacts/bf/bf8e59189ef7911ea4cfc75501b3689e

